html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Canvas stays in the background */
}

#canvasOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* Higher than canvas */
  pointer-events: none; /* Ensures clicks go through to canvas */
}

#topBarText {
  font-size: 24px;
  font-weight: bold;
  color: aqua;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
